.Rproj.user
.Rhistory
.RData
.Ruserdata

*.html
*_files/

.cache/
.local/
.rstudio/
.quarto/
.targets/
.targets.lock
.targets.lock.local
.targets.lock.remote
.targets.lock.remote.local
.targets.lock.remote.local.remote
.targets.lock.remote.local.remote.local

.config/